{% extends 'base/main.html' %}
{% load static %}

{% block content %}
<div class="flex flex-wrap gap-4 p-5 justify-center" id="beritas">
    {% for berita in beritas %}
    <div class="grid rounded box-content max-h-fit w-52 p-4 shadow-lg border border-blue-600" id="berita">
        <div>
           <img class="mx-auto" src="{% static 'style/img/' %}{{ berita.tumbnail }}" alt="default">
        </div>
        <div class="pt-5">
            <h1 class="font-sans font-bold">{{ berita.title }}</h1>
        </div>
        <hr>
        <div>
            <ul>
                <li>
                    {{ berita.category }}
                </li>
                <li>
                    {{ berita.creator }}
                </li>
                <li>
                    {{ berita.date }}
                </li>
            </ul>           
        </div>
        <div class="grid content-end pt-5">
            <a class="border-2 border-blue-600 rounded bg-white hover:bg-blue-600 p-1 pr-3 text-black hover:text-white w-fit" href="#">Read More...</a>
        </div>   
    </div>
    {% endfor %}
</div>
{% endblock content%}